<nav class="navbar navbar-light navbar-dark bg-dark">
    <a class="navbar-brand" href="#">確認画面</a>
</nav>

<div class="container mt-5 p-lg-5 bg-light">
<%= form_with(model: @story, local:true) do |form| %>
  <%# <p>管理用タイトル:<%= @story.admin_title %>
  <p>タイトル:<%= @story.title %></p>

  <%= image_tag(@story.thumbnail_image.url) if @story.thumbnail_image && @story.thumbnail_image.url %>
  <%= form.hidden_field :thumbnail_image_cache %>
  <%# <%= form.hidden_field :admin_title %>
  <%= form.hidden_field :title %>

  <% @story.parts.each do |part| %>
    <P><%= part.text %></P>
    <P><%= image_tag(part.image.url) if part.image && part.image.url %></P>
  <% end %>
  
  <%= form.fields_for :parts do |part| %>
    <%= part.hidden_field :text %>
    <%= part.hidden_field :image %> 
    <%= part.hidden_field :image_cache %>
  <% end %>
  <br><%= form.submit "投稿する"%>
<% end %>

<%= form_with(model: @story, url:new_story_path, local:true, method:"get") do |form| %>
  <br><%= form.hidden_field :title %>
  <br><%= form.hidden_field :thumbnail_image_cache %>
  <%# <%= form.hidden_field :admin_title %>
  <%= form.fields_for :parts do |part| %>
    <%= part.hidden_field :text %>
    <%= part.hidden_field :image %> 
    <%= part.hidden_field :image_cache %>
  <% end %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
