<%# <p id="notice"><%= notice %></p> 

<nav class="navbar navbar-light navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My Story</a>
</nav>

<div class="container mt-5 p-lg-5 bg-light">
 

<% @stories.each do |story| %>
　<div class="card" style="width: 20rem;">
　　<ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-info"><%= story.title %></li>
    </ul>
    <%= image_tag(story.thumbnail_image.url) if story.thumbnail_image && story.thumbnail_image.url %>
  　<div class="card-body">
      <a href="#" class="card-link"><td><%= link_to t('view.story.show'), story, class: "btn btn-secondary" %></td></a>
        <% if user_signed_in? %>
          <% if current_user == @user %>
              <a href="#" class="card-link"><td><%= link_to t('view.story.edit'), edit_story_path(story), class: "btn btn-secondary" %></td></a>
              <a href="#" class="card-link"><td><%= link_to t('view.story.destroy'), story,class: "btn btn-secondary", method: :delete, data: { confirm: 'Are you sure?' } %></td></a>
          <% end %>
        <% end %> 
    </div>
　</div>
<% end %>

<br><%= link_to t('view.story.new'), new_story_path ,class: "btn btn-secondary"%>
<%= link_to t('view.story.index_back'), stories_path, class: "btn btn-secondary" %>
</div>


